<li class="list-group-item">
    <h4>{{nomProduit}}</h4>
    <h5>Prix : {{prixProduit}} $</h5>
    <h5>Poids : {{poidsProduit}} Kg (oui c'est très lourd)</h5>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Nombre d'articles :</h6>
            </div>
            <div class="col">
                <input type="number" class="form-control" [(ngModel)]="nombreProduit"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Distance (en Km) :</h6>
            </div>
            <div class="col">
                <input type="number" class="form-control" [(ngModel)]="distance"/>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" (click)="onClickFinal()">Total</button>
            </div>
            <div class="col">
                <h6>Prix Final : {{prixFinal}} $</h6>
            </div>
        </div>
    </div>
</li>
<br/>